*, *:before, *:after {
    box-sizing: border-box;
  }
  body {
      position: relative;
      margin: 0;
  }

  /* header & header nav */

  header {
      width: 100%;
      height: 50px;
      background-color: grey;
      display: flex;
      justify-content: space-between;
      padding: 1% 5%;
      position: fixed;
  }

  header nav {
      width: 50%;
      display: flex;
      justify-content: space-between;
  }

  /* splash-page */

.splash-page-container {
    background-color: lightgrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.splash-page-main-content {
    height: 50%;
    max-height: 500px;
    width: 80%;
    max-width: 600px;
    background-color: white;
    border: 1px solid black;
    padding: 5%;
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.splash-page-main-content h1 {
    font-size: 40px;
    margin: 0%;
}


.splash-page-main-content .page-links {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.splash-page-main-content .page-links a {
    border: .5px solid black;
    padding: 1% 2%;
    width: 80%;
    background-color: lightgrey;
}
@media screen and (min-width: 550px){
    .splash-page-main-content .page-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2%;
    }
    
    .splash-page-main-content .page-links a {
        border: .5px solid black;
        padding: 1% 2%;
        width: 25%;
        background-color: lightgrey;
    }
}

/* About Section */

.about-section-container {
    height: 100vh;
    margin-top: 60px;
    padding: 0% 8%;
}

.about-section-top-line {
    text-align: center;
    line-height: 36px;
}

.about-section-top-line-left {
    font-size: 50px;
    margin-bottom: 50px;
}
.about-section-top-line-right {
    font-size: 20px;
}

.about-section-bottom-line {
    text-align: justify;
    margin-top: 50px;
    line-height: 22px;
}

@media screen and (min-width: 550px){
    .about-section-container {
        padding: 0% 15%; 
    }
    .about-section-top-line {
        display: flex;
        align-items: center;
    }
    .about-section-top-line div {
        width: 50%;
    }
    .about-section-top-line-left {
        font-size: 125px;
    }
    .about-section-top-line-right {
        font-size: 20px;
        line-height: 30px;
    }
    .about-section-bottom-line {
        line-height: 32px;
    }
}

/* projects page */

.projects-section {
    height: 100vh;
}

.projects-section-hero {
    height: 30%;
    background-color: lightgrey;
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.projects-section-main-content {
    display: flex;
    flex-direction: column;
}

.project-card-outer {
    border: 1px solid black;
    background-color: lightgrey;
    height: 200px;
    padding: 2%;
    display: flex;

}

.project-image-container {
    height: 100%;
    background-color: grey;
    width: 45%;
}

.project-info-container {
    text-align: center;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-name {
    font-fize: 20px;
}

.project-description {
    font-size: 12px;
}

.project-link a {
    width: 80%;
}

.project-link a button{
    border: .5px solid black;
    width: 80%;
    height: 25px;
}
